body {
    color: gray;
    text-align: center;
}

.wrapper {
    margin: 0px auto;
    border: 0px #343a40;
}

header, main, footer {
    padding: 20px;
    background: #f2f2f2;
    font-family: "Suranna", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.111111rem;
}

header {
    background: #F2F2F2;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    position: relative;
    color: gray;
    font-weight: bold;
    font-size: 14px;
}

header a {
    text-decoration: none;
    color: gray;
    font-size: 24px;
    /* font-family: "Brush Script MT", cursive; */
}


/* nav */

. navbar-nav ul, .bottom-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
}

li a {
    display: block;
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

/* end nav */


/* archive-intro nav */

.archive-intro a {
    display: inline-block;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 12px;
}

.archive-intro nav a.active {
    text-decoration: underline;
    font-weight: bold;
}

.archive-intro a:link {
    text-decoration: none;
    color: gray;
}

.archive-intro a:visited {
    text-decoration: none;
    color: gray;
}

.archive-intro a:hover {
    text-decoration: underline;
    color: gray;
}

.archive-intro a:active {
    text-decoration: underline;
    color: gray;
}

/* end archive-intro nav */


/* main */

main {
    text-align: center;
    color: gray;
    font-size: 14px;
}

#slogan-org {
    position: absolute;
    top: 35%;
    right: 20px;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    /* color: rgba(0,0,0,.9); */
    color: #f2f2f2;
    /* background: gray; */
    -webkit-text-stroke: 2px gray;
}

.navbar {
    margin-bottom: 0 !important;
}


/* parallax */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Make the image fully responsive */
.parallax_org img {
    width: 100%;
    height: 100%;
}

.parallax_org {
  /* The image used */
  /* background-image: url("images/YoniShirts.jpg"); */
  background-image: url("images/ChanningShoeWall.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax_org {
    background-attachment: scroll;
  }
}

/* Turn off parallax scrolling for smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .parallax_org {
    background-attachment: scroll;
  }
}

/* end parallax */


/* container with 3 columns */

.container_columns {
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding: 20px 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-height: 600x;
    overflow: hidden;
}

.top_row_of2 img {
    /* width: 100%; */
    height: 300px;
    object-fit: cover;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

.bottom_row_of2 img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

.img_row_of2 {
    height: 300px;
    overflow: hidden;
}

.img_row_of2_large {
    height: 350px;
    overflow: hidden;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

/* Responsive layout - makes the two columns stack on top of each other*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .top_row_of2 img {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top_row_of2 img {
        width: 100%;
        height: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .top_row_of2 img {
        width: 100%;
        height: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .top_row_of2 img {
        width: 100%;
        height: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .top_row_of2 img {
        width: 100%;
        height: 100%;
  }
}

.top_row_of2 {
    /* padding-bottom: 20px; */
    height: 300px;
    overflow: hidden;
    float: left;
    flex-wrap: wrap;
    text-align: center;
}

.bottom_row_of2 {
    /* padding-bottom: 20px; */
    max-height: 300px;
    overflow: hidden;
    float: right;
    flex-wrap: wrap;
    text-align: center;
}

/* end container with 3 columns */


/* slick carousel */

.variable-width div, .variable-width img {
        width: auto;
        height: 400px;
}

/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}

.small-carousel div, .small-carousel img {
    width: auto;
    height: 400px;
}

/* end slick carousel */

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* video */

/* end video */


.standard-ul {
    list-style-type: circle;
    list-style-position: outside;
    text-align: left;
    padding-left: 70px;
}

.container {
    padding: 50px 0px;
}

.container_white_border {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    border: 10px white;
    border-style: solid;
    border-collapse: separate;
}

.container_white_fill {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    background: white;
}

.container_line {
    border-top: solid 3px #000;
    margin-top: 40px;
    padding-top: 40px;
    margin-bottom: 0px;
}

.container_scroll_bg-dark {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    max-height: 400px;
    overflow: auto;
    /* border: 20px white;
    border-style: solid; */
    background: white;
    border-collapse: separate;
}

.table {
    overflow-x: auto;
}

table {
    table-layout: fixed;
}

.pink_font {
    color: pink;
}

.pink_font ul {
    padding-left: 0px;
}

.pink_font p {
    font-family: "Suranna", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: pink;
}

.coming-soon {
    opacity: 0.40;
    filter: alpha(opacity=40);
}

#services img {
    width: 80%;
    max-height: 300px;
}


/* container with 2 columns */

.container_2_columns {
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding: 20px 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-height: 600px;
    overflow: hidden;
}

.container_2_columns_tall {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-height: 1250px;
    overflow: hidden;
}

.left_column_of2 img, .right_column_of2 img {
    width: 100%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

.img_column_of2 {
    height: 250px;
    overflow: hidden;
}

.img_column_of2_tall {
    height: 500px;
    overflow: hidden;
}

.left_column_of2 {
    padding-bottom: 20px; 
    height: 300px;
    overflow: hidden;
    float: left;
    flex-wrap: wrap;
    text-align: center;
}

.right_column_of2 {
    padding-bottom: 20px; 
    height: 300px;
    overflow: hidden;
    float: right;
    flex-wrap: wrap;
    text-align: center;
}

/* Stack images on top of text for mobile */
/* Extra small devices (phones, 600px and down) */
/* iPhone X horizontal (812px) */
@media only screen and (min-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio : 3) {
    .col-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* Responsive layout - makes the two columns stack on top of each other*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .left_column_of2, .right_column_of2 {
        width: 100%;
        height: 100%;
    }
    .left_column_of2 img, .right_column_of2 img {
        height: 250px;
    }
    .img_column_of2_tall {
        height: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .left_column_of2, .right_column_of2 {
        width: 100%;
        height: 100%;
    }
    .img_column_of2_tall {
        height: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .left_column_of2, .right_column_of2 {
        width: 100%;
        height: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .left_column_of2, .right_column_of2 {
        width: 100%;
        height: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .left_column_of2, .right_column_of2 {
        width: 100%;
        height: 100%;
  }
}

#blog {
    background: #343a40;
    color: white;
    font-weight: bold;
    font-size: 20px;
    white-space: normal;
    word-wrap: break-word;
}

/* end container with 2 columns */



/* Back to Top button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: pink;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: gray;
}

/* end Back to Top button */



/* carousel */

@media only screen and (min-width: 768px) {
    /* show 4 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    /* last visible item + 1 */
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-next.carousel-item-left {
        /* position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        display: block;
        visibility: visible;
    }
}   

/* end carousel */



/* popup */

.popup {
    width: 40%;
    margin: 0 auto;
    background: #F2F2F2;
    padding: 35px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    background: white;
    font-size: 1em;
    padding: 10px;
    color: gray;
    border: 2px solid gray;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: gray;
    color: white;
    text-decoration: none;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #343a40;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    padding:10px;
    width: 80%;
    position: relative;
}

.popup h2 {
    margin-top: 0;
    color: gray;
}
.popup .close {
    position: static;
    top: 2px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
}
.popup .close:hover {
    color: gray;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

/* end popup */

.pink-button {
    border: pink;
    color: pink;
    font-weight: bold;
}

/* end main */


/* footer */

.action {
    background: #343a40;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
}

.menu {
    background: #343a40;
    color: white;
    font-size: 12px;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:link {
    text-decoration: none;
}

.menu li a:visited {
    text-decoration: none;
 }

.menu li a:hover {
    text-decoration: underline;
}

.fa-envelope, .fa-instagram, .fa-youtube, .fa-tiktok {
   color: white;
}

/* end footer */



/* LOGIN_ORG, SIGNUP_ORG */

textarea,
input[type="text"]{
  border: 1px solid lightgray;
}

/* end LOGIN_ORG, SIGNUP_ORG */



/* PRICING */

#logo {
    width: 20%;
    height: 20%;
}

.img {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    object-fit: contain;
}

.img img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 350px;
}

.price {
    background: #F2F2F2;
    margin-top: 20px;
    padding: 20px 0 0 0;
}

.inside-ul {
    list-style-type: circle;
    list-style-position: inside;
}

/* end PRICING */


/* BLOG */

.great-vibes {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #343a40;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.article-title {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
}

.blog-section, .blog-section-header {
    padding: 0px 5px 0px 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 250px;
}

.blog-section {
    width: 50%
}

.blog-section-header {
    position: relative;
    width: 100%
    height: 250px;
}

#travel-section, #beauty-section, #closets-section, #kitchen-section, #office-section, #decor-section {
    position: relative;
    text-align: center;
    color: #343a40;
    font-weight: bold;
}

.blog-section img, .blog-section-header img {
    margin: 0px;
    padding: 0px;
}

.blog-section-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}


/* Large numbers */

.large-numbers {
    display: inline-block;
    height: 200px;
}

.element-number {
    padding-left: 15px;
    font-family: "Butler", serif;
    font-weight: 300;
    font-size: 200px;
    line-height: 1;
    position: absolute;
    color: #F5F5F5;
}

.element-text {
    font-family: "Franklin", helvetica;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.2;
    position: relative;
    top: 110px;
    z-index: 1;
}

.element-text-large {
    font-family: "Butler", serif;
    font-weight: 300;
    font-size: 100px;
    line-height: 1;
    position: relative;
    color: #F5F5F5;
}

/* End large numbers */


/* Responsive images */
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #beauty-section img, #office-section img {
        height: 100%;
    }
    #closets-section img, #kitchen-section img {
        height: 250px;
    }
    #beauty-header img, #office-header img {
        height: 250px;
    }
    #decor-header img {
        width: 375px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-device-width : 480px) and (max-width: 600px) {
    .blog-section img, .blog-section-header img {
        width: 100%;
        height: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .blog-section img, .blog-section-header img {
        width: 100%;
    }
    #beauty-section img, #travel-section img, #closets-section img, #kitchen-section img, #office-section img {
        height: 100%;
    }
}

/* end responsive images */ 

.centered-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.articles {
    padding: 20px;
    text-align: left;
}

.articles a {
    display: inline-block;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
}

/* unvisited */
.articles a:link {
    text-decoration: underline;
    color: gray;
}

/* visited */
.articles a:visited {
    text-decoration: underline;
    color: gray;
}

/* mouse over */
.articles a:hover {
    text-decoration: underline;
    color: gray;
}

/* selected */
.articles a:active {
    text-decoration: underline;
    color: gray;
}


/* article container */

.img-wrap {
    height: 265px;
}

.img-wrap img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.img-wrap-200 {
    height: 215px;
}

.img-wrap-200 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content a {
    display: inline-block;
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

/* unvisited */
.content a:link {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

/* visited */
.content a:visited {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

/* mouse over */
.content a:hover {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

/* selected */
.content a:active {
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

/* unvisited */
.content-underline a:link {
    text-decoration: underline;
    color: rgba(0,0,0,.9);
}

/* visited */
.content-underline a:visited {
    text-decoration: underline;
    color: rgba(0,0,0,.9);
}

/* mouse over */
.content-underline a:hover {
    text-decoration: underline;
    color: rgba(0,0,0,.9);
}

/* selected */
.content-underline a:active {
    text-decoration: underline;
    color: rgba(0,0,0,.9);
}

/* end article container */


.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 900px) {
    .img1 {
        width: 400px;
        height: 400px;
  }
}

/* 3 images */
.img3 {
    margin: 0px;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 0px;
    overflow: hidden;
    height: 400px;
}

.imgsquare {
    width: 40%;
    opacity: 0.65;
}

.imglong {
    width: 20%;
}

.imgsquare img, .imglong img {
    width: 100%;
    height: 100%;
}

/* Responsive layout - makes the three images stack on top of each other*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .img3 {
        width: 100%;
        height: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px and max-width: 768px) {
    .img3 {
        width: 100%;
        height: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px and max-width: 992px) {
    .img3 {
        width: 100%;
        height: 100%;
  }
}
/* end 3 images */

.ul-no-indent {
    padding: 15px;
}

.blog-nav {
    justify-content: space-between;
    width: 100%;
}

.blog-nav a p {
    font-family: "Suranna", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* unvisited */
.blog-nav a:link {
    text-decoration: none;
    color: pink;
}

/* visited */
.blog-nav a:visited {
    text-decoration: none;
    color: pink;
}

/* mouse over */
.blog-nav a:hover {
    text-decoration: none;
    color: gray;
}

/* selected */
.blog-nav a:active {
    text-decoration: none;
    color: gray;
}

/* video */

.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* end video */
/* end BLOG */



/* NOT LIVE */
/* travel form submit */

#packing-input, #packing-output, #itinerary {
    display: none;
}

/* end travel form submit */



/* PROFILE */

.profile-section {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
 }
 
.profile-header {
    background:#F2F2F2;
    padding:0 10px;
 }

 .profile-button {
    padding: 2px;
 }

/* Place the navbar at the bottom of the page, and make it stick */
.bottom-nav {
    margin: auto;
    border-top: 2px solid gray;
    padding: 10px 0px;
    background-color: #f2f2f2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

.bottom-nav ul, .bottom-nav a{
    padding-left: 0px;
}

/* Style the links inside the navigation bar */
.bottom-nav a {
    float: left; /* ? */
    display: inline-block;
    color: #343a40;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

/* end PROFILE */
/* end NOT LIVE */
